.article-main{
  position: relative;
  padding: 25px;
  background-color: #fff;
  border-bottom: 6px solid @blue;
  h1{
    font-family: @roboto;
    font-weight: 500;
    background-position-y: 4px;
    @media (max-width: 500px){
      font-size: 19px;
    }
  }
  header{
    position: relative;
    .fav{
      position: absolute;
      right: 20px;
      top: 50px;
      padding-left: 30px;
      cursor: pointer;
      &:hover:after{
        border-left-color: @blue;
      }
      @media (max-width: 500px){
        position: relative;
        top: 0;
        right: auto;
        margin: 15px 20px;
      }
      &:before,
      &:after{
        content: '';
        position: absolute;
      }
      &:before{
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #3a3a3a;
      }
      &:after{
        top: 4px;
        left: 6px;
        border-top: 6px solid transparent;
        border-left: 8px solid #d8d8d8;
        border-bottom: 6px solid transparent;
      }
    }
  }
  .back{
    position: absolute;
    bottom: -6px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    width: 175px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    background-color: @blue;
    &:hover{
      background-color: #018fbe;
    }
  }
}

.wysiwyg{
  .summary{
    margin-bottom: 21px;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.55;
    border: 1px solid #d2d2d2;
    border-left: none;
    border-right: none;
  }
  p{
    margin-bottom: 25px;
    line-height: 1.5;
  }
}




.other-articles{
  padding: 40px 0 49px;
  border-bottom: 6px solid @blue;
  background-color: #fff;
  h2{
    margin-left: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

}

.oa-item{
  display: flex;
  align-items: center;
  padding: 0 25px;
  border: 1px solid transparent;
  margin-bottom: -3px;
  @media (max-width: 800px){
    flex-direction: column;
    align-items: flex-start;
    span{
      margin-top: 20px;
    }
  }
  span{
    width: 170px;
    font-size: 16px;
  }
  &:hover{
    color: @blue;
    border-color: rgba(97, 97, 97, .19);
    background-color: rgba(224, 224, 224, .32);
    h3{
      border-color: transparent;
    }
  }
  h3{
    width: 100%;
    padding: 20px 5px;
    font-family: @os;
    font-weight: 400;
    border: 1px solid #eaeaea;
    border-left: none;
    border-right: none;
  }
}