.page__aside{
  max-width: 23.5%;
  min-width: 250px;
  width: 100%;
  margin-left: 20px;
  section{
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}


.page__fav,
.page__archive{
  h3{
    padding: 15px 35px;
    color: #ffffff;
    font-size: 18px;
    background: @grey-dark url(../img/favorites.svg) no-repeat 91% center;
  }
}

.favs,
.a-years{
  background-color: #3a3a3a;
  color: rgba(255,255,255,.9);
}

.favs-item{
  position: relative;
  > span{
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 13px;
    background-color: #3d3d3d;
    cursor: pointer;
    &:hover:before,
    &:hover:after{
      background-color: @blue;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 6px;
      left: 1px;
      height: 1px;
      width: 13px;
      background-color: #fff;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
  h4{
    position: relative;
    padding: 12px 10px;
    cursor: pointer;
    border-bottom: 1px solid #2e2e2e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover{
      background-color: #525354;
      border-bottom-color: @blue;
      + span:before,
      + span:after{
        background-color: @blue;
      }
      //.shadow{
      //  display: block;
      //}
    }
  }
}

.shadow{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  i,
  a{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #000;
    border: 1px solid #fff;
    &:hover{
      border-color: @blue;
    }
  }
  i{
    left: 38%;
    &:before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-top: 5px solid transparent;
      border-left: 8px solid #fff;
      border-bottom: 5px solid transparent;
    }
  }
  a{
    right: 38%;
    background: #000 url(../img/link.svg) no-repeat center;
  }
}

.favs-controls{
  display: flex;
  justify-content: center;
  div{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: no-repeat center;
    &:nth-child(1),
    &:nth-child(3){
      border: 1px solid rgba(0, 0, 0, .2);
      background-image: url(../img/next.svg);
      &:hover{
        background-image: url(../img/next-h.svg);
      }
    }
    &:nth-child(1){
      transform: rotate(180deg);
    }
    &:nth-child(2){
      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-top: 7px solid transparent;
        border-left: 10px solid #d8d8d8;
        border-bottom: 7px solid transparent;
      }
      &:hover:before{
        border-left-color: @blue;
      }
      &.play{
        background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #d8d8d8 100%);
        background-size: 16px;
        &:hover{
          background-image: -webkit-linear-gradient(top, @blue 0%, @blue 100%);
        }
      }
    }
  }
}



.page__archive h3{
  background-image: url(../img/archive.svg);
}


.a-year{
  word-spacing: 10px;
  &.active{
    p{
      color: #ffffff;
      background-color: #525354;
      border-bottom-color: @blue;
    }
    .a-month{
      height: auto;
      padding: 12px 20px 12px 35px;
      border-bottom: 1px solid @blue;
    }
  }
  p{
    position: relative;
    padding: 12px 35px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #616263;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover{
      color: #ffffff;
      background-color: #525354;
      border-bottom-color: @blue;
    }
  }
  .a-month{
    height: 0;
    overflow: hidden;
  }
  a{
    display: inline-block;
    margin-bottom: 5px;
    &:hover{
      color: @blue;
    }
  }
}