@font-face {
  font-family: 'aGildiaExp';
  src: url('../font/a/a.eot');
  src: url('../font/a/a.eot?#iefix') format('embedded-opentype'),
       url('../font/a/a.woff2') format('woff2'),
       url('../font/a/a.woff') format('woff'),
       url('../font/a/a.ttf') format('truetype'),
       url('../font/a/a.svg#open_sanslight') format('svg');
  font-weight: 400;
  font-style: normal;
}





@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-3.eot');
  src: url('../font/os/os-3.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-3.woff2') format('woff2'),
       url('../font/os/os-3.woff') format('woff'),
       url('../font/os/os-3.ttf') format('truetype'),
       url('../font/os/os-3.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-3i.eot');
  src: url('../font/os/os-3i.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-3i.woff2') format('woff2'),
       url('../font/os/os-3i.woff') format('woff'),
       url('../font/os/os-3i.ttf') format('truetype'),
       url('../font/os/os-3i.svg#open_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-4.eot');
  src: url('../font/os/os-4.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-4.woff2') format('woff2'),
       url('../font/os/os-4.woff') format('woff'),
       url('../font/os/os-4.ttf') format('truetype'),
       url('../font/os/os-4.svg#open_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-4i.eot');
  src: url('../font/os/os-4i.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-4i.woff2') format('woff2'),
       url('../font/os/os-4i.woff') format('woff'),
       url('../font/os/os-4i.ttf') format('truetype'),
       url('../font/os/os-4i.svg#open_sansitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-6.eot');
  src: url('../font/os/os-6.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-6.woff2') format('woff2'),
       url('../font/os/os-6.woff') format('woff'),
       url('../font/os/os-6.ttf') format('truetype'),
       url('../font/os/os-6.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-6i.eot');
  src: url('../font/os/os-6i.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-6i.woff2') format('woff2'),
       url('../font/os/os-6i.woff') format('woff'),
       url('../font/os/os-6i.ttf') format('truetype'),
       url('../font/os/os-6i.svg#open_sanssemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-7.eot');
  src: url('../font/os/os-7.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-7.woff2') format('woff2'),
       url('../font/os/os-7.woff') format('woff'),
       url('../font/os/os-7.ttf') format('truetype'),
       url('../font/os/os-7.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-7i.eot');
  src: url('../font/os/os-7i.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-7i.woff2') format('woff2'),
       url('../font/os/os-7i.woff') format('woff'),
       url('../font/os/os-7i.ttf') format('truetype'),
       url('../font/os/os-7i.svg#open_sansbold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-8.eot');
  src: url('../font/os/os-8.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-8.woff2') format('woff2'),
       url('../font/os/os-8.woff') format('woff'),
       url('../font/os/os-8.ttf') format('truetype'),
       url('../font/os/os-8.svg#open_sansextrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../font/os/os-8i.eot');
  src: url('../font/os/os-8i.eot?#iefix') format('embedded-opentype'),
       url('../font/os/os-8i.woff2') format('woff2'),
       url('../font/os/os-8i.woff') format('woff'),
       url('../font/os/os-8i.ttf') format('truetype'),
       url('../font/os/os-8i.svg#open_sansextrabold_italic') format('svg');
  font-weight: 800;
  font-style: italic;
}





@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-1.eot');
  src: url('../font/r/r-1.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-1.woff2') format('woff2'),
       url('../font/r/r-1.woff') format('woff'),
       url('../font/r/r-1.ttf') format('truetype'),
       url('../font/r/r-1.svg#open_sanslight') format('svg');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-1i.eot');
  src: url('../font/r/r-1i.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-1i.woff2') format('woff2'),
       url('../font/r/r-1i.woff') format('woff'),
       url('../font/r/r-1i.ttf') format('truetype'),
       url('../font/r/r-1i.svg#open_sanslight_italic') format('svg');
  font-weight: 100;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-3.eot');
  src: url('../font/r/r-3.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-3.woff2') format('woff2'),
       url('../font/r/r-3.woff') format('woff'),
       url('../font/r/r-3.ttf') format('truetype'),
       url('../font/r/r-3.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-3i.eot');
  src: url('../font/r/r-3i.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-3i.woff2') format('woff2'),
       url('../font/r/r-3i.woff') format('woff'),
       url('../font/r/r-3i.ttf') format('truetype'),
       url('../font/r/r-3i.svg#open_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-4.eot');
  src: url('../font/r/r-4.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-4.woff2') format('woff2'),
       url('../font/r/r-4.woff') format('woff'),
       url('../font/r/r-4.ttf') format('truetype'),
       url('../font/r/r-4.svg#open_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-4i.eot');
  src: url('../font/r/r-4i.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-4i.woff2') format('woff2'),
       url('../font/r/r-4i.woff') format('woff'),
       url('../font/r/r-4i.ttf') format('truetype'),
       url('../font/r/r-4i.svg#open_sansitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-5.eot');
  src: url('../font/r/r-5.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-5.woff2') format('woff2'),
       url('../font/r/r-5.woff') format('woff'),
       url('../font/r/r-5.ttf') format('truetype'),
       url('../font/r/r-5.svg#open_sanssemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-5i.eot');
  src: url('../font/r/r-5i.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-5i.woff2') format('woff2'),
       url('../font/r/r-5i.woff') format('woff'),
       url('../font/r/r-5i.ttf') format('truetype'),
       url('../font/r/r-5i.svg#open_sanssemibold_italic') format('svg');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-7.eot');
  src: url('../font/r/r-7.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-7.woff2') format('woff2'),
       url('../font/r/r-7.woff') format('woff'),
       url('../font/r/r-7.ttf') format('truetype'),
       url('../font/r/r-7.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-7i.eot');
  src: url('../font/r/r-7i.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-7i.woff2') format('woff2'),
       url('../font/r/r-7i.woff') format('woff'),
       url('../font/r/r-7i.ttf') format('truetype'),
       url('../font/r/r-7i.svg#open_sansbold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-9.eot');
  src: url('../font/r/r-9.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-9.woff2') format('woff2'),
       url('../font/r/r-9.woff') format('woff'),
       url('../font/r/r-9.ttf') format('truetype'),
       url('../font/r/r-9.svg#open_sansextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-9i.eot');
  src: url('../font/r/r-9i.eot?#iefix') format('embedded-opentype'),
       url('../font/r/r-9i.woff2') format('woff2'),
       url('../font/r/r-9i.woff') format('woff'),
       url('../font/r/r-9i.ttf') format('truetype'),
       url('../font/r/r-9i.svg#open_sansextrabold_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}





@font-face {
  font-family: 'BYTEHOUSE';
  src: url('../font/b/bh.eot');
  src: url('../font/b/bh.eot?#iefix') format('embedded-opentype'),
       url('../font/b/bh.woff2') format('woff2'),
       url('../font/b/bh.woff') format('woff'),
       url('../font/b/bh.ttf') format('truetype'),
       url('../font/b/bh.svg#bytehouseregular') format('svg');
  font-weight: normal;
  font-style: normal;

}