.site-footer{
  background-color: @footer;
  color: #ffffff;
  .wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  p{
    margin-right: 30px;
    @media (max-width: 340px){
      margin-right: 0;
    }
  }
  .bh{
    font-family: BYTEHOUSE, Roboto, Open Sans, sans-serif;
    font-size: 16px;
  }
  a{
    display: inline-block;
    padding: 13px 0;
    color: #55c6ec;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}

#full{
  @media (min-width: 768px){
    display: none;
  }
}