.site-header{
  .wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: 1024px) {
    padding-top: 10px;
    padding-bottom: 11px;
  }
}

.s-h__logo{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
  @media (max-width: 500px) {
    flex-shrink: 1;
    img{
      display: none;
    }
  }
  img{
    margin-right: 15px;
  }
  h2{
    position: relative;
    font-family: aGildiaExp, sans-serif;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #000000;
    }
    &:before{
      height: 1px;
      top: 105%;
    }
    &:after{
      height: 5px;
      top: 109%;
    }
  }
  small{
    display: block;
    margin-top: -10px;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: none;
  }
}

.s-h__ad{
  width: 728px;
  height: 90px;
  margin-top: 15px;
  background: url(http://placehold.it/728x90) center;
  background-size: cover;
  cursor: pointer;
  @media (max-width: 1024px) {
    display: none;
  }
}




.site-top-nav{
  border-top: 2px solid #5f5c5c;
  border-bottom: 4px solid #000;
  @media (max-width: 1024px) {
    border: none;
    margin: 0;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    @media (max-width: 500px){
      top: 28px;
      right: 15px;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: #000000;
    }
    &:before{
      box-shadow: 0 12px 0 0 #000;
    }
    &:after{
      bottom: 0;
    }
  }
}


.first-nav,
.second-nav{
  position: relative;
  display: flex;
  list-style-type: none;
}

.first-nav{
  justify-content: space-between;
  @media (max-width: 1024px) {
    display: none;
    input{
      display: none;
    }
  }
  @media (min-width: 1025px) {
    > li{
      margin-bottom: 3px;
      padding: 4px 0;
      &:nth-child(8){
        display: flex;
        margin-bottom: 0;
        input{
          border: none;
          background-color: #3b3b3b;
          &[type=search]{
            width: 263px;
            margin-top: -6px;
            margin-bottom: -1px;
            margin-left: 10px;
            padding: 12px 27px;
            color: #dadada;
            font-size: 14px;
            @media (max-width: 1150px) {
              width: 250px;
            }
            &:focus,
            &:active{
              background-color: #333333;
              + input{
                background-color: #333333;
                background-image: url(../img/loupe-f.svg);
              }
            }
          }
          &[type=submit]{
            position: absolute;
            top: -2px;
            right: 15px;
            height: 99%;
            width: 40px;
            background: #3b3b3b url(../img/loupe.svg) no-repeat center;
            background-size: 16px;
            &:hover{
              background-image: url(../img/loupe-f.svg);
            }
          }
        }
      }
      &.active{
        margin-top: -8px;
        padding-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #000000;
        border-top: 2px solid @red;
        a,
        a:hover{
          color: #ffffff;
        }
      }
      > a{
        display: inline-block;
        padding: 10px 5px;
        color: #2e2e2e;
        font-size: 15px;
        &:hover,
        &:focus{
          //font-weight: 600;
          color: #AD0615;
        }
      }
    }
  }
}

ul.second-nav{
  display: none;
  position: absolute;
  top: 100%;
  left: 15px;
  width: 97.5%;
  padding: 0 10px;
  background-color: #000000;
  a{
    display: inline-block;
    padding: 4px 10px;
    color: #ffffff;
    &:hover,
    &.active{
      color: @blue;
    }
  }
}

ul.show{
  display: flex;
}

.xs-nav{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 100px 18%;
  background-color: rgba(0, 0, 0, .9);
  overflow: auto;
  z-index: 1;
  span{
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    @media (max-width: 500px){
      top: 28px;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 13px;
      height: 4px;
      width: 100%;
      background-color: blue;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
  a{
    display: block;
    margin: 6px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    &.active{
      color: @blue;
    }
  }
}