.page__content{
  width: 100%;
}

.page__top-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #464748;
  span{
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    margin-left: 15px;
    cursor: pointer;
    &:nth-child(1){
      background-image: repeating-linear-gradient(
        #fff,
        #fff 4px,
        transparent 4px,
        transparent 6px
      );
    }
    &:nth-child(2){
      background-image: url(../img/tile.svg);
      @media (max-width: 700px), (min-width: 769px) and (max-width: 1024px){
        display: none;
      }
    }
    &:nth-child(3){
      background-image: url(../img/table.svg);
    }
    &:hover,
    &.active{
      outline: 1px solid #b9535c;
      outline-offset: 3px;
    }
  }
}


.page__articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 600px){
    margin-left: -15px;
    margin-right: -15px;
  }
}

.page__articles-item{
  position: relative;
  padding: 20px 15px 50px;
  background-color: #fff;
  &.row,
  &.tile{
    border-bottom: 6px solid #464748;
    &:hover{
      border-bottom-color: @blue;
      .next{
        background-color: @blue;
      }
    }
  }
  &.row + .row{
    margin-top: 35px;
  }
  &.tile{
    flex-basis: 48.8%;
    margin-bottom: 20px;
  }
  &.table{
    width: 100%;
    padding: 20px 15px;
    border-bottom: 2px solid @content-bg;
    background: #fff url(../img/article.svg) no-repeat 15px 22px;
    background-size: 16px;
    &:hover{
      border-bottom-color: @blue;
    }
    &:before{
      content: '';
      position: absolute;
      top: 20px;
      left: 155px;
      width: 1px;
      height: calc(~"100% - 40px");
      background-color: #464748;
    }
    @media (max-width: 450px){
      &:before,
      .article-date{
        display: none;
      }
      .article-info{
        left: 25px;
        p{
          display: block;
        }
      }
    }
    + .table{
      margin-top: 8px;
    }
    .article-date{
      display: block;
      margin-top: 2px;
      margin-left: 25px;
      float: left;
    }
    .article-title{
      display: table;
      text-transform: none;
      background: none;
    }
    .article-info{
      position: relative;
      display: inline-block;
      left: 155px;
      margin: 0;
      @media (max-width: 600px){
        margin-top: 15px;
      }
    }
    .fav{
      right: 15px;
      bottom: 18px;
    }
    .article-info span,
    .article-info p,
    .article-text,
    .next{
      display: none;
    }
  }
  .fav{
    position: absolute;
    right: 150px;
    bottom: 7px;
    padding-left: 25px;
    cursor: pointer;
    &:hover:before,
    &.checked:before{
      border-color: @blue;
    }
    &.checked:before{
      background: url(../img/check.svg) no-repeat center;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid;
    }
  }
  .next{
    position: absolute;
    bottom: -6px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 33px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    background-color: #464748;
  }
}

.article-date{
  display: none;
}


.article-title{
  padding-left: 25px;
  text-transform: uppercase;
  background: url(../img/article.svg) no-repeat 0 2px;
  background-size: 16px;
}

.article-info{
  margin: 20px 25px;
  a{
    color: @blue;
    font-size: 13px;
  }
  p{
    color: #595858;
  }
}

.article-text{
  line-height: 1.5;
  p + p{
    margin-top: 20px;
  }
}




.pagiantion{
  margin-top: 33px;
  text-align: right;
  a{
    display: inline-block;
    padding: 4px 5px;
    font-size: 13px;
    font-weight: 700;
    &.active{
      padding: 4px 9px;
      color: @blue;
      border-bottom: 2px solid @blue;
    }
    &:hover{
      color: #919191;
    }
  }
}