@blue: #09c;
@red: #900;

@grey-dark: #303030;
@content-bg: #f4f4f4;
@footer: #626262;
@text: #262626;


.wrap(@width: 1120px){
  max-width: @width + 30px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.wrap{
  .wrap;
}