
@import "fonts";
@import "base";
@import "mixins";
@import "components";


@os: Open Sans, Roboto, sans-serif;
@roboto: Roboto, Open Sans, sans-serif;

body{
  color: @text;
  font-family: @os;
  font-size: 14px;
}

a{
  text-decoration: none;
}

.h1{
  font-size: 21px;
}

.h2{
  font-family: @roboto;
  font-size: 17px;
  font-weight: 500;
}

.h3{
  font-size: 14px;
}

.h4{
  font-family: @roboto;
  font-size: 12px;
  font-weight: 500;
}


::placeholder{
  color: #a6a6a6;
}



@import "header";
@import "index";
@import "article";
@import "aside";
@import "footer";